// TODO get node_modules alias working again
@import 'vendor/prism-themes/prism-night-owl.styl';

.code-copy svg {
  width: 16px;
  right: 1.5rem;
}

table code {
  white-space: nowrap;
}

div[class*="language-"] {
  background-color: black;
}

.theme-default-content pre[class*="language-"] {
  padding-top: 60px;
}

div[class^="language-"]:before {
  color: #ead358;
  font-weight: 700;
  top: 1em;
  right: auto;
  left: 1.5em;
}

div[class^="language-"]:after {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #ffffff40;
}